.confectioner {
  width: 70%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  .confectioner__content {
    width: 45%;

    h2 {
      margin: 2.4rem 0 3.6rem;

      color: #2E363E;

      font-size: 4.8rem;
      font-weight: 500;
      line-height: 6rem;
    }

    ul {
      list-style: none;

      margin-bottom: 5rem;

      display: flex;
      flex-flow: column nowrap;
      gap: 3rem;

      li {
        color: #2E363E;

        padding-left: 2.5rem;

        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.7rem;

        position: relative;

        &::before {
          width: 1rem;
          height: 1rem;

          display: block;

          background-color: #5D6AFB;

          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          content: '';
          transform: translateY(80%);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .confectioner__woman {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    .woman__background {
      width: 58rem;
      height: 58rem;

      background-color: #FED84C;

      position: relative;
      clip-path: circle(50%);

      img {
        width: 100%;
        height: 81.6rem;

        object-fit: contain;

        position: absolute;
        bottom: -2%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
